# Google OAuth (Google Cloud Console で取得)
GOOGLE_CLIENT_ID=844305871289-mfgrg2r4o2lt4jv39e0bktdalbn4o0o2.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# NextAuth.js
# openssl rand -base64 32 で生成
NEXTAUTH_SECRET=y9Qi+1gfPf4sWsAQJj1h66aThK6gDK9Lo+fqadtj/18=
NEXTAUTH_URL=http://localhost:3000
